*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    list-style: none;
}

.container{
    width: 100%;
    position: relative;
    margin: 1em auto;
    justify-items: auto;
    justify-content: space-between;
    display: block;
}
.container > h1 { 
    position: absolute;
    width: 100%;
    height: 90vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-items: center;
}
.card{
    width: 338px;
    height: 280px;
    margin:  0 4% 5% 4%;
    border-radius: 3%;
    float: left;
    position: relative;
    overflow: hidden;
}

@keyframes down {
    to{
        top: -100%;
    }
    from{
        top: 0;
    }
}
.card:hover > .card-body{
    top: 0;

    animation: down  0.50s alternate-reverse;
}

.card-head{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: space-around;
}
.img-flag{
    object-fit: cover;
    width: 100%;
    object-position:center center;
    height: 102%;
}

.card-body{
    top: -120%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    opacity: 0.8;
}
.title {
    padding-top: 5%;
    font-size: 20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.card-body > ul{
    width: 60%;
    margin: auto;
    padding-top:5% ;
}
.card-body >ul > li{
    padding: 2%;
    margin: auto;
}
.view-country{
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: white;
}
