.content-country{
    width: 100%;
}
.button-container{
    width: 100%;
    height: 40px;
    margin-top: 1.7em;
}
.button-back{
    width: 10%;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(95, 95, 95);
    height: 24px;
    margin: 0 0 0 1em;
    background-color: white;
}

.card-container{
    width: 90%;
    margin: 3% auto;
    box-shadow: 1px 1px 1em rgb(95, 95, 95);
    height: 400px;
    padding: 5px;
}
.content-flag{
    margin: 1.5em 0 0 1em;
    width: 40%;
    float: left;
    height: 80%;
}
.content-flag > img {
    width: 100%;
    height: 50%;
    object-fit:fill;
}
.content-flag > .map{
    width: 100%;
    height: 50%;
    background-color: brown;
}
.content-text{
    margin: 1em 0 0 2em;
    width: 49%;
    float: left;
    height: 300px;
    position: relative;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
}


.content-text > h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 30px 0;
}
.content-text > ul > li{
    font-weight: bold;
    padding: 2%;
}
.content-text > ul > li > span{
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.borders{
    position: relative;
    width: 100%;
    height: 50px;
    text-overflow: ellipsis;
}
.borders > h4{
    padding: 1.5%;
    margin-left:0.2em ;
    float: left;
}
.borders > li{
    width:auto;
    height: 10px;
    margin: 2px 4px ;
    font-size: 10px;
    box-shadow: 0.1em 1px rgba(0, 0, 0, 0.4);
    float: left;
}