.navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
}

.navbar > select{
    float: left;
    width: 40%;
    border: none;
    background-color: white;
    height: 55%;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 2%;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .form-group{
    float: right;
    margin-top: 8px;
    display: flex;
    width: 40%;
    margin-right: 2%;
}
.form-group > input {
    width: 80%;
    border: none;
    background-color: white;
    height: 27px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.form-group > select {
    width: 20%;
    border: none;
    background-color: rgb(204, 201, 201);
    height: 27px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}
